.icon{
    mix-blend-mode: multiply;
}

.text-itinerary {
    font-family: Ligconsolata;
    font-size: 21px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0b4970;
}

@media (max-width: 768px) {
    .text-itinerary {
        text-align: center !important;
        margin-top: 1rem;
        margin-left: 0px;
        margin: 0px;
    }

    /* Centralizar a imagem nas telas pequenas */
    .icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Ajustar a coluna de texto para ocupar toda a largura em telas pequenas */
    .col-12.col-md-8 {
        text-align: center;
    }

    /* Alinhar a coluna da imagem à esquerda para telas maiores */
    .col-12.col-md-3 {
        margin: 0 auto;
    }
}
